@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html,
body {
  height: 100%;
  color: #fff;
}

body {
  margin: 0;
  background-color: #020314;
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stars {
  background-color: #13a0d5;
  border: 1px solid #022b49;
  position: fixed;
  border-radius: 50%;
}

h1 {
  font-size: 4.5em;
  color: #7172fb;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 0.5px #fff;
}

h2 {
  font-size: 1em;
  text-align: center;
}

canvas {
  background-color: #020314;
  border: 3px solid #cac7c7;
  position: relative;
  z-index: 3;
}

input {
  height: 50px;
  width: 200px;
  background-color: #020314;
  border: 0.5px solid #ffffff85;
  color: #fff;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2em;
  text-align: center;
}

input:focus,
input:active {
  outline: #ee5153 solid 1px;
  box-shadow: 2px 2px 2px 3px #ee51538f;
}

.container-score {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.score-player-1,
.score-player-2 {
  font-size: 2em;
  text-align: center;
  margin: 10%;
}

.background-bars {
  position: fixed;
  top: 50vh;
  z-index: 1;
  margin-left: -50vw;
  margin-right: -50vw;
}

.bar-1,
.bar-2,
.bar-3 {
  width: 100vw;
  height: 50px;
}

.bar-1 {
  background-color: #1a1d72;
}

.bar-2 {
  background-color: #4f53b3;
}

.bar-3 {
  background-color: #383ca2;
}

.lets-play-btn {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  background-color: #ee5153;
  width: 250px;
  height: 80px;
  border-radius: 3px;
  color: #fff;
  border: 0.5px solid #fff;
}

.lets-play-btn:hover,
.lets-play-btn:active {
  background-color: #cf3537;
  color: #fff;
}
